body {
  background-color: green;
}

#car {
  /* max-width: 200px; */
  position: absolute;
  top: 0;
  left: 0;
}

#car > img{
  width: 200px;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(-90deg);
}

.column-full {
  width: 100%;
}
